.icones_user{
    display: flex;
    position: relative;
    width: 75px;
    float: right;
    flex-wrap: wrap;
    
    

}
img{
    border-radius: 50%;
    height: 75px;
    margin-left: 10px;
    
}

.infos_perso{
margin-left: 90px;
background-color: rgb(236, 236, 236);
border-radius: 10px;
border: 1px solid #e4e3e3;
box-shadow: 3px 3px 12px #444444;



}

ul{
    list-style:none;
}
.container{
    display: flex;
    flex-direction: row;
   
}