
  <div class="row" >
    <div class="col-sm-6">
      <div class="card" *ngFor="let users of Users" >
        <div class="card-body">
            <img src= "{{users.picture.thumbnail}}"  class="img-thumbnail">
          <h5 class="card-title">{{users.name.first}}  {{users.name.last}}</h5>
          <p class="card-text">{{users.email}}</p>
          <img src="../../assets/Icon_User/{{addsvg(users.dob.age)}}" alt="Avatar" style="width: 10%"> 
        <div (click)="affichedetail()">afficher</div> 
        </div>
      </div>
    </div>
</div>