

* {
    box-sizing: border-box;

}

html {
    font-size: 100%;
   
}

body {
    display: block;

    margin: 0 auto;
    margin: 0;
    font-size: 1.6rem;
    background-color: blue!important;
}

header {
    background-color: rgb(236, 45, 24);
    color: white;
   
}

.container {
    max-width: 1100px;
    margin: 0 auto;
   
}


.button .navbar-toggler{
float: left;

}
.navbar-brand{
    text-align: center;
    float: right;
}