.infos_perso_details{
    font-size: 25px;
    margin-left: 30%;
    margin-right: 20%;
background-color: rgb(236, 236, 236);
border-radius: 10px;
border: 1px solid #e4e3e3;
box-shadow: 3px 3px 12px #444444;


}

ul{
    list-style:none;
    margin-left: 20px;

}