<div class="Photo_details">
    <img src="{{user.picture.medium}}">

</div>

<div class="infos_perso_details">
    <ul>
        <li>Nom: {{user.name.last}}</li> 
        <li>Prénom: {{user.name.first}}</li> 
        <li>Email: {{user.email}}</li>
        <li>Genre:{{user.gender}}</li>
        <li>Adresse:</li>
        <li>Numéro de téléphone:{{user.phone}}</li>
        <li>login:{{user.login.username}}</li>
        <li>Date de naissance: </li>
        <li>Age:{{user.dob.age}}</li>
    </ul>
</div>