<app-header></app-header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Users</h2>
        <ul class="list-group">
          <app-user></app-user>
          <app-user></app-user>
          <app-user></app-user>
        </ul>
      </div>
    </div>
  </div>
